﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="~/images/favicon.png">
  <title>Payco | Hub</title>
  <link rel="stylesheet" href="~/dist/main.css" asp-append-version="true" />
</head>
<body class="menu-principal">
  <nav id="homeNav" class="navbar navbar-expand-sm bg-navbar fixed-top"></nav>

  <div id="main-container" class="container body-content">
    @RenderBody()
  </div>

  <footer class="fixed-bottom justify-content-end align-items-center">
    <span>&copy; 2018 - Payco de Venezuela C.A.</span>
  </footer>

  @RenderSection("Scripts", required: false)
  
  <script type="text/javascript" src="~/dist/homeNavbar.bundle.js" asp-append-version="true"></script>
</body>
</html>
