﻿<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="~/images/favicon.png">
  <title>Payco | Hub</title>

  <link rel="stylesheet" href="~/dist/main.css" asp-append-version="true" />
</head>
<body>

  <div id="wrapperLogin" class="d-flex flex-row align-items-stretch h-100">
    <div id="panelLogo" class="bg-dark-blue w-100 d-flex flex-column align-items-center justify-content-center">
      <div id="logoLogin">
        <img src="/images/logo_payco.svg" class="" /> | Hub
      </div>
      <p class="small text-white" style="font-family:R-L">Versi&oacute;n 0.1</p>
      <p class="small text-light-grey position-bottom">PAYCO &copy; Todos los derechos reservados Payco de Venezuela C.A. RIF: J-30902311-0</p>
    </div>

    <div id="main-container" class="container body-content bg-light w-100 d-flex flex-column align-items-center justify-content-center">
      @RenderBody()
    </div>
  </div>

  <!-- <environment include="Development">
    <script src="~/node_modules/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/src/js/site.js" asp-append-version="true"></script>
  </environment>
  <environment exclude="Development">
    <script src="~/node_modules/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/src/js/site.min.js" asp-append-version="true"></script>
  </environment> -->

  @RenderSection("Scripts", required: false)
</body>
</html>