@font-face {
  font-family: 'backstage';
  src:  url('fonts/backstage.eot?4ilxds');
  src:  url('fonts/backstage.eot?4ilxds#iefix') format('embedded-opentype'),
    url('fonts/backstage.ttf?4ilxds') format('truetype'),
    url('fonts/backstage.woff?4ilxds') format('woff'),
    url('fonts/backstage.svg?4ilxds#backstage') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'backstage' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-puntos-v:before {
  content: "\e916";
}
.icon-calendar:before {
  content: "\e915";
}
.icon-file:before {
  content: "\e904";
}
.icon-flecha-lista:before {
  content: "\e914";
}
.icon-cerrar:before {
  content: "\e903";
}
.icon-reporte-ventas:before {
  content: "\e900";
}
.icon-reporte-operaciones:before {
  content: "\e901";
}
.icon-reporte-donaciones:before {
  content: "\e902";
}
.icon-drop:before {
  content: "\e913";
}
.icon-retiros-bloqueos:before {
  content: "\e905";
}
.icon-usuarios:before {
  content: "\e906";
}
.icon-ventas:before {
  content: "\e907";
}
.icon-reportes:before {
  content: "\e908";
}
.icon-publicidad:before {
  content: "\e909";
}
.icon-promociones:before {
  content: "\e90a";
}
.icon-notificaciones:before {
  content: "\e90b";
}
.icon-mostrar-contrasena:before {
  content: "\e90c";
}
.icon-inicio:before {
  content: "\e90d";
}
.icon-donaciones:before {
  content: "\e90e";
}
.icon-disponibilidad:before {
  content: "\e90f";
}
.icon-control-acceso:before {
  content: "\e910";
}
.icon-bitacora-usuarios:before {
  content: "\e911";
}
.icon-analisis-web:before {
  content: "\e912";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
