﻿
@{
  Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

  <!-- <div class="row w-100 justify-content-center">
    <div class="col-sm-7 mb-5">
      <h4 style="font-family: R-L">Primer ingreso</h4>
      <div class="AvatarUsuario mt-5">
        <img class="w-100 d-inline-block" src="~/images/profile.svg" />
      </div>
    </div>
  </div>

  <div class="row w-100 justify-content-center">
    <div class="col-sm-7 mb-3">
      <p class="subtitulo-medium mb-2">Bienvenido</p>
      <h3 style="font-family:R-M" class="mb-3">Raúl Bander</h3>
      <p class="text-light-grey">Por favor ingresa una nueva contraseña</p>
    </div>
  </div>
  <div class="row w-100 justify-content-center">
    <div class="col-sm-7 mb-3">
      <form class="w-100">
        <div class="form-group">
          <div class="input-group mb-4">
            <input type="text" class="form-control bg-lighter-grey" placeholder="Nueva Contraseña" aria-label="Nueva Contraseña" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2"><i class="icon tz-lock"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group mb-4">
            <input type="text" class="form-control bg-lighter-grey" placeholder="Repetir Contraseña" aria-label="Repetir Contraseña" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2"><i class="icon tz-repeat"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
            <button class="btn btn-block btn-light-blue" asp-controller="Access" asp-action="CompleteRegistration">Continuar</button>
        </div>
      </form>
    </div>
  </div> -->
@section Scripts {
  <script type="text/javascript" src="~/dist/confirm.bundle.js" asp-append-version="true"></script>
}