﻿
@{
  ViewData["Title"] = "DetalleComisiones";
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
  <div class="titulo">Detalle Comisiones</div>

  <div class="row">
    <div class="col-sm-6 mb-4">
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" onclick="(function(){ window.location.href = 'Comisiones' })()">
        <label class="custom-control-label subtitulo" for="customRadioInline1">Resumen Mensual</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input" checked="checked">
        <label class="custom-control-label subtitulo" for="customRadioInline2">Estimación Diaria</label>
      </div>
    </div>
  </div>

  <div class="card border-0 shadow-sm mb-5">
    <div class="card-body bg-lighter-grey p-5">
      <div class="row">
        <label class="col-sm-1">Desde:</label>
        <div class="col-sm-3 mb-4">
          <div id="fechaDesde" class="input-group">
            <input type="text" id="txtDesde" class="form-control border-0" />
            <div class="input-group-append">
              <span id="btnDesde" class="input-group-text bg-white align-middle"><i class="icon tz-calendar"></i></span>
            </div>
          </div>
        </div>
        <label class="col-sm-1">Hasta:</label>
        <div class="col-sm-3 mb-4">
          <div id="fechaHasta" class="input-group">
            <input type="text" id="txtHasta" class="form-control border-0" />
            <div class="input-group-append">
              <span id="btnHasta" class="input-group-text bg-white align-middle"><i class="icon tz-calendar"></i></span>
            </div>
          </div>
        </div>
        <label class="col-sm-1">Biller:</label>
        <div class="col-sm-3 mb-4">
          <select id="filtro" class="form-control border-0">
            <option value="">Biller 1</option>
            <option value="">Biller 2</option>
            <option value="">Biller 3</option>
          </select>
        </div>
      </div>
      <div class="row">
        <label class="col-sm-1 pr-0">Taquilla</label>
        <div class="col-sm-3 mb-4">
          <select id="estado" class="form-control border-0">
            <option value="" selected="selected"></option>
          </select>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-3 mt-4">
          <button id="buscar" class="btn btn-block btn-light-blue" type="button">Buscar</button>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-bordered table-zoom shadow-sm">
    <thead>
      <tr>
        <th style="width:20px">&nbsp;</th>
        <th>ID</th>
        <th>Fecha de pago</th>
        <th>Pagador</th>
        <th>C&eacute;dula</th>
        <th>Biller</th>
        <th>Servicio</th>
        <th>Monto (Bs.)</th>
        <th>Comisi&oacute;n (Bs.)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><i class="icon tz-plus-circle text-light-blue"></i></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><i class="icon tz-plus-circle text-light-blue"></i></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><i class="icon tz-plus-circle text-light-blue"></i></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><i class="icon tz-plus-circle text-light-blue"></i></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><i class="icon tz-plus-circle text-light-blue"></i></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><i class="icon tz-plus-circle text-light-blue"></i></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><i class="icon tz-plus-circle text-light-blue"></i></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><i class="icon tz-plus-circle text-light-blue"></i></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="9" class="subtitulo text-uppercase text-right">
          Total comisi&oacute;n estimada: Bs. 30.000,00
        </td>
      </tr>
    </tbody>
  </table>
</div>
