﻿
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
  <div class="titulo">Taquillas</div>

  <div class="row justify-content-end my-5">
    <div class="col-sm-3 col-md-2 mb-3">
      <button id="asignaCaja" class="btn btn-block btn-light-green" type="button" data-toggle="modal" data-target="#AgregarCajaModal"><i class="icon tz-laptop mr-2"></i>Agregar Caja</button>
    </div>
    <div class="col-sm-3 col-md-2 mb-3">
      <button id="eliminar" class="btn btn-block btn-light-blue" type="button"><i class="icon tz-shop mr-2"></i>Agregar Taquilla</button>
    </div>
  </div>

  <table class="table table-bordered table-zoom shadow-sm">
    <thead>
      <tr>
        <th style="width:20px">&nbsp;</th>
        <th>ID</th>
        <th>Nombre</th>
        <th>Locaci&oacute;n</th>
        <th># Cajas</th>
        <th># POS</th>
        <th># Operadores</th>
        <th>Status</th>
        <th style="width:120px">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <i class="icon tz-plus-circle text-light-blue"></i>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
          <ul class="d-flex list-unstyled m-0">
            <li>
              <a class="btn py-0" href="#"><i class="icon tz-edit text-light-grey"></i></a>
            </li>
            <li>
              <a class="btn py-0" href="#"><i class="icon tz-trash text-light-grey"></i></a>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <i class="icon tz-plus-circle text-light-blue"></i>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
          <ul class="d-flex list-unstyled m-0">
            <li>
              <a class="btn py-0" href="#"><i class="icon tz-edit text-light-grey"></i></a>
            </li>
            <li>
              <a class="btn py-0" href="#"><i class="icon tz-trash text-light-grey"></i></a>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <i class="icon tz-plus-circle text-light-blue"></i>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
          <ul class="d-flex list-unstyled m-0">
            <li>
              <a class="btn py-0" href="#"><i class="icon tz-edit text-light-grey"></i></a>
            </li>
            <li>
              <a class="btn py-0" href="#"><i class="icon tz-trash text-light-grey"></i></a>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <i class="icon tz-plus-circle text-light-blue"></i>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
          <ul class="d-flex list-unstyled m-0">
            <li>
              <a class="btn py-0" href="#"><i class="icon tz-edit text-light-grey"></i></a>
            </li>
            <li>
              <a class="btn py-0" href="#"><i class="icon tz-trash text-light-grey"></i></a>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <i class="icon tz-plus-circle text-light-blue"></i>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
          <ul class="d-flex list-unstyled m-0">
            <li>
              <a class="btn py-0" href="#"><i class="icon tz-edit text-light-grey"></i></a>
            </li>
            <li>
              <a class="btn py-0" href="#"><i class="icon tz-trash text-light-grey"></i></a>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <i class="icon tz-plus-circle text-light-blue"></i>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
          <ul class="d-flex list-unstyled m-0">
            <li>
              <a class="btn py-0" href="#"><i class="icon tz-edit text-light-grey"></i></a>
            </li>
            <li>
              <a class="btn py-0" href="#"><i class="icon tz-trash text-light-grey"></i></a>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <i class="icon tz-plus-circle text-light-blue"></i>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
          <ul class="d-flex list-unstyled m-0">
            <li>
              <a class="btn py-0" href="#"><i class="icon tz-edit text-light-grey"></i></a>
            </li>
            <li>
              <a class="btn py-0" href="#"><i class="icon tz-trash text-light-grey"></i></a>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <i class="icon tz-plus-circle text-light-blue"></i>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
          <ul class="d-flex list-unstyled m-0">
            <li>
              <a class="btn py-0" href="#"><i class="icon tz-edit text-light-grey"></i></a>
            </li>
            <li>
              <a class="btn py-0" href="#"><i class="icon tz-trash text-light-grey"></i></a>
            </li>
          </ul>
        </td>
      </tr>

    </tbody>
  </table>
</div>

<partial name="_AgregarCaja" />