@import './variables.scss';
@import '../icons/style.css';
@import '../../../node_modules/react-datepicker/dist/react-datepicker.css';
@font-face {
    font-family: 'N-L';
    src: url('../fonts/NunitoSans-Light.ttf');
    src: url('../fonts/NunitoSans-Light.ttf') format('truetype');
    font-display: block;
    font-style: normal;
    font-weight: normal;
  }
@font-face {
    font-family: 'N-R';
    src: url('../fonts/NunitoSans-Regular.ttf');
    src: url('../fonts/NunitoSans-Regular.ttf') format('truetype');
    font-display: block;
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'N-SB';
    src: url('../fonts/NunitoSans-SemiBold.ttf');
    src: url('../fonts/NunitoSans-SemiBold.ttf') format('truetype');
    font-display: block;
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'T-SB';
    src: url('../fonts/TitilliumWeb-SemiBold.ttf');
    src: url('../fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
    font-display: block;
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'T-B';
    src: url('../fonts/TitilliumWeb-Bold.ttf');
    src: url('../fonts/TitilliumWeb-Bold.ttf') format('truetype');
    font-display: block;
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'T-R';
    src: url('../fonts/TitilliumWeb-Regular.ttf');
    src: url('../fonts/TitilliumWeb-Regular.ttf') format('truetype');
    font-display: block;
    font-style: normal;
    font-weight: normal;
  }

button,a{
    outline: none !important;
    box-shadow:none !important;
    text-decoration: none !important;
}
html{
    min-height: 100%;
    display: flex;
    align-items: stretch;
    width: 100%;
}
body,#root{
    background: $bg-fondo;
    display: flex;
    align-items: stretch;
    width: 100%;
    font-family: Manrope;
    font-weight: 500;
}
.bg-fondo{background: $bg-fondo;}
.bg-ppal{background: $bg-ppal;}

.cTexto1{color:$c-texto1}
.cTexto2{color:$c-texto2}
.cTexto3{color:$c-texto3}
.cTexto4{color:$c-texto4}
.cTextoI{color:$c-textoI}
.placeHolder{color:$placeHolder}

.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f20{font-size: 20px;}
.f22{font-size: 22px;}

.layoutMenuLeft{
    position: relative;
    padding-left: 200px;
    padding-top: 60px;
    .wrapMenuLeft{
        position: fixed;
        height: 100%;
        height: 100vh;
        width: 200px;
        background:$bg-ppal;
        top: 0;
        left: 0;
        z-index: 3000;
        #menuL{
            height: 100%;
            height: 100vh;
            width: 100%;
            overflow: auto;
            figure{
                padding:0 20px;
                height: 60px;
                display: flex;
                align-items: center;
                margin-bottom: 0;
                img{
                    display: block;
                    max-width: 140px;
                    width: 100%;
                }
            }
            a.itemMenu{
                display: block;
                color: #fff;
                padding:0 20px;
                font-size: 14px;
                font-family: T-SB;
                color: $c-texto2;
                &:hover{
                    background: rgba(0,0,0,.1);
                    color:#FFFFFF;
                }

                p{
                    padding-left: 32px;
                    width: 100%;
                    margin-bottom: 0;
                    height: 60px;
                    line-height: 60px;
                    position: relative;
                    i{
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 22px;
                        display: block;
                        line-height: 22px;
                        height: 22px;
                    }
                    span{
                        font-weight: 700;
                        line-height: 12px;
                    }
                }
            }
        }
    }
    .wrapContentRight{
        height: 100%;
        >section{
            height: 100%;
        }
    }
    .wrapContent{
        height: 100%;
    }
    #headerInterno{
        background:#FFFFFF;
        height: 60px;
        position: fixed;
        padding-left: 200px;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
        .titulo{
            font-size: 14px;
            font-family: T-SB;
            letter-spacing: .1em;
        }
        i{
            font-size: 20px;
        }
        
        .wrap-countries {
            position: relative;
            min-width: 200px;
            max-width: 300px;
            
            ul {
                position: absolute;
                list-style: none;
                top: 100%;
                right: 0;
                margin-top: 10px;
                box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
                background: #fff;
                border-radius: 5px;
                padding: 15px 0;
                z-index: 10;
                max-height: 80vh;
                max-height: calc(100vh - 100px);
                overflow: auto;
                padding-left: 0px;
                &::-webkit-scrollbar {
                    width: 6px;
                }
                &::-webkit-scrollbar-track {
                    background:$c-texto3;
                    border-radius: 4px;
                }
                &::-webkit-scrollbar-track:hover,
                &::-webkit-scrollbar-track:active {
                    background:$c-texto2;
                }
                &::-webkit-scrollbar-thumb {
                    background: #ccc;
                    border-radius: 4px;
                }
                &::-webkit-scrollbar-thumb:hover {
                    background: $c-texto1;;
                }
                &::-webkit-scrollbar-thumb:active {
                    background-color: $c-texto1;
                }

                li{
                    color: #646A83;
                    font-size: 14px;
                    font-family: N-R;
                    padding: 5px 15px;
                    &:hover{
                        background: rgba($c-texto1,0.05);
                    }
                    img{
                        max-width: 30px;
                    }
                    cursor: pointer;
                }
            }
            span.country-sel {
                cursor: pointer;
                display: flex;
                align-items: center;
                color: #646A83;
                font-size: 12px;
                font-family: N-R;
            }
            span.country-sel i {
                padding-left: 10px;
            }
            span.country-sel i.rotate {
                transform: rotate(180deg);
                padding-right: 10px;
                padding-left: 0px;
            }
        }

        .wrap-notify{
            position: relative;
            z-index: 2000;
            i{
                cursor: pointer;
                color: $c-texto2;
                font-size: 25px;
                display: block;
                height: 25px;
                line-height: 25px;
            }
            .notify-content{
                position: absolute;
                top: 100%;
                right: 0;
                box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
                background: #fff;
                border-radius: 5px;
                padding: 15px;
                margin-top: 10px;
                color: $c-texto2;
                font-size: 14px;
                font-family: N-R;
            }
        }
        .wrap-avatar{
            position: relative;
            z-index: 2000;
            >img{cursor: pointer;}
            #info-user{
                position: absolute;
                top: 100%;
                margin-top: 10px;
                width: 254px;
                padding: 20px;
                right: 0;
                background: #fff;
                border-radius: 5px;
                box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
                font-family: N-R;
                font-size: 14px;
                >span{
                    padding: 5px;
                    text-transform: uppercase;
                    text-align: right;
                    padding-bottom: 1rem;
                    border-bottom: solid 1px #e8eefa;
                    width: 100%;
                }
                a{
                    font-size: 16px;
                    white-space: nowrap;
                    padding: 0px;
                    margin-top: 40px;
                    text-decoration: none;
                    color: $c-texto2;
                }
            }
        }
    }
      
}

.btnGeneral{
    background: $bg-btn-1;
    color: $c-btn-gen;
    height: 40px;
    line-height: 40px;
    padding: 0;
    &:hover{
        color: $c-btn-gen;
    }
}
.btnGeneral{
    background: $bg-btn-1;
    color: $c-btn-gen;
    height: 40px;
    line-height: 40px;
    padding: 0;
    &:hover{
        color: $c-btn-gen;
    }
}
.btnGeneral2{
    background: $bg-btn-2;
    color: $c-btn-gen;
    height: 40px;
    line-height: 40px;
    padding: 0;
    &:hover{
        color: $c-btn-gen;
    }
}

.btn{
    span{
        display: block;
        position: relative;
        z-index: 2;
        overflow: hidden;
        transition: ease-in-out all .3s;
    }
    &:hover{
        span{
            background: rgba(0,0,0,.1);
        }
    }
}
 input, select , textarea{
     outline: none !important;
     box-shadow: none !important;
     border-color: inherit !important;
 }
.wrapInput{
    display: block;
    position: relative;
    label{
        font-size: 12px;
        position: absolute;
        top: 14px;
        left: 17px;
        line-height: 12px;
        background: #fff;
        padding-right: 5px;
        transition: ease-in-out all .3s;
        pointer-events: none;
    }
    input
    {
        width: 100%;
        background: #FFFFFF;
        border: solid 1px #EDF0F4;
        border-radius: 4px;
        padding: 0 15px;
        height: 40px;
        line-height: 38px;
        margin-bottom: 30px;
        color: $c-texto1;
        font-size: 14px;
        outline: none !important;
        box-shadow: none !important;
    }
    input:focus + label,input:not([value=""]) + label{
        top: -6px;
    }
    
}

.cardGen{
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(#D1E0FF,.16);
}
.pagination{
    button,
    button:focus{
      background: none;
      border: none !important;
      outline: none !important;
    }
    .numberPag{
      display: block;
      width: 30px;
      height: 30px;
      font-family: L-B;
      font-size: 16px;
      text-align: center;
      line-height: 30px;
      color: $c-texto2;
      border-radius: 2px;
      margin-left: 5px;
      cursor: pointer;
      margin-right: 5px;
    }
    .numberPag.activo{
      background-color:$bg-ppal;
      color: #fff;
      cursor: initial;
    }
}

.errorForm{
    font-family: T-R;
    font-size: 12px;
    color: red;
    letter-spacing: .05em;
    width: 100%;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 12px;
}

#pageLogin{
    .bg-login{
        background: url(../images/bg-login.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .wrapPpal{
        height: 100vh;
        overflow: auto;
    }
    figure{
        img{
            display: block;
            max-width: 100%;
            margin: 50px auto 60px;
        }
    }
    .wrapLogin{
        width: 100%;
        max-width: 350px;
        margin:80px 20px;
        h2{
            line-height: 20px;
            font-family: N-R;
            font-size: 20px;
            color: #FFFFFF;
            margin-bottom: 40px;
        }
        a{
            font-size: 11px;
            margin-bottom: 30px;
            &:hover{
                color: $c-texto4;
            }
        }
        .form-group{
            margin-bottom: 30px;
            position: relative;
            i{
                position: absolute;
                cursor: pointer;
                z-index: 3;
                top:36px;
                right: 10px;
            }
        }
        label{
            color: #B2C1F8;
            font-family: T-R;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: .05em;
        }
        input{
            font-family: N-R;
            border-radius: 2px;
            border: none;
            background: #36426E;
            color: $c-texto3;
        }
        .errorForm{
            margin-top:5px;
        }
        button{
            border-radius: 2px;
            font-size: 16px;
            font-family: T-B;
            margin-top: 10px;
        }
    }
    .listaPaises{
        background: #FFFFFF;
        border-radius: 5px;
        margin-top: 50px;
        min-width: 320px;
        margin-bottom: 50px;
        header{
            height: 60px;
            padding: 0 25px;
            border-bottom: solid 1px #F5F7FF;
            color: $c-texto1;
            font-family: T-R;
            font-size: 18px;
            line-height: 18px;
            i{color:$c-texto2;font-size: 14px;line-height: 14px;height: 14px;cursor: pointer;}
        }
        ul{
            list-style: none;
            padding: 0;
            max-height: 320px;
            overflow: auto;
            li{
                padding: 10px 15px;
                cursor: pointer;
                &:hover,&.selected{
                    background: #F9F9F9;
                }
            }
        }
        footer{
            height: 60px;
            padding: 0 25px;
            border-top: solid 1px #F5F7FF;
            color: $c-texto2;
            font-family: N-R;
            font-size: 11px;
            line-height: 11px;
            label{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 0;
                input{margin-right: 5px;}
            }
            button{
                line-height: 40px;
                padding: 0 10px;
                font-family: T-SB;

            }
        }
    }
}

#pageHome{
    .top{
        margin-top: 40px;
        .location{
            p{
                font-size: 22px;
                font-family: T-SB;
                color: $c-texto1;
            }
            span{
                font-family: N-R;
                font-size: 12px;
                color: $c-texto2;
            }
        }
        .filter{
            .custom-control{line-height: 1.5rem;}
            label{
                font-size: 14px;
                font-family: N-R;
                color: $c-texto1;
                line-height: 1.6rem;
                cursor: pointer;
            }
        }
        .rango{
            position: relative;
            width:160px;
            height: 32px;
            select{
                display: block;
                width: 100%;
                padding: 0 30px 0 15px;
                border:none;
                background: none;
                font-size: 14px;
                font-family: N-R;
                color: $c-texto1;
                height: 32px;
                line-height: 32px;
                appearance: none;
            }
            i{
                color: #00D6CE;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 20px;
                pointer-events: none;
            }
        }
    }

    .wrapDatosTop{
        margin-top: 30px;
        .cardGen{
            .itemTop{
                height: 90px;
                padding:20px 20px 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                flex-wrap: wrap;
                i{
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
                p{
                    display: block;
                    width: 100%;
                    font-family: N-L;
                    font-size: 28px;
                    color: $c-texto2;
                    text-align: center;
                    margin-bottom: 0;
                    line-height: 28px;
                }
                span{
                    display: block;
                    width: 100%;
                    font-family: T-SB;
                    font-size: 12px;
                    color: $c-texto1;
                    text-align: center;
                }
            }
        }
    }
    .wrapActividad{
        margin:25px 0;
        padding:20px 20px 20px 0;
        font-family: T-R;
        font-size: 10px;
        color:#646A83;
        .wrapGrafica{
            height: 350px;
        }
        p{
            padding-left: 30px;
            font-family: T-SB;
            font-size: 14px;
            color:$c-texto1;
        }
    }
    .wrapVentas{
        padding:20px 30px;
        >div>p{
            font-family: T-SB;
            font-size: 14px;
            color:$c-texto1;
        }
        .wrapTabla {
            table thead th{
                font-size: 14px;
                font-family: T-R;
                text-align: center;
                color:$c-texto1;
                font-weight: normal;
            }
            table thead th:first-child{text-align: left;}
            table tbody{}
            table tbody tr{}
            table tbody tr td{
                font-size: 12px;
                font-family: N-R;
                text-align: center;
                color: $c-texto2;
                vertical-align: middle;
            }
            table tbody tr td:first-child{text-align: left;min-width: 200px;}
            
            .rowTotal{
                font-family: T-SB;
                font-size: 14px;
                color:$c-texto1;
            }
        }
    }
    .contentRight{
        margin-top: 40px;
        .totales{
            padding: 15px;
            .totalD{
                font-family: N-L;
                margin-top: 30px;
                font-size: 35px;
                color: $c-texto2;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                margin-bottom: 0;
                span{
                    display: block;line-height: 35px;
                }
                small{
                    font-size: 16px;
                    font-family: N-SB;
                }
            }
            >span{
                font-family: T-SB;
                font-size: 14px;
                color: $c-texto1;
                margin: 20px 0;
                display: block;
                text-align: center;
            }
            .otras{
                padding:15px;
                border-radius: 5px;
                background: #E8EDFF;
                font-family: N-R;
                font-size: 12px;
                white-space: nowrap;
                color: $c-texto1;
                span{
                    display: block;
                    line-height: 12px;
                }
                span:nth-child(2){
                    display: block;
                    margin: 0 10px;
                    width: 100%;
                    border-bottom: dashed 1px $c-texto1;
                }
            }
        }
    }
}

#pageReportes{
    .wrapTipos{
        margin-top: 40px;
        .cardTipo{
            background: #FFFFFF;
            border-radius: 5px;
            box-shadow: 0 0 20px rgba(#D1E0FF,.16);
            height: 300px;
            width: 300px;
            padding: 40px 50px;
            margin: 10px 10px;
            transition: ease-in-out all .3s;
            &:hover{
                box-shadow: 0 0 30px rgba(#D1E0FF,.56);
            }
            cursor: pointer;
            i{
                color: #00D6CE;
                font-size: 80px;
            }
            .descripcion{
                margin-top: auto;
                text-align: center;
                p{
                    margin-bottom: 0;
                    font-size: 18px;
                    font-family: T-SB;
                    color: $c-texto1;
                }
                span{
                    font-size: 16px;
                    font-family: T-R;
                    color: $c-texto2; 
                }
            }
        }
    }

    .listaReportes{
        height: 100%;
        height: calc(100vh - 60px);
        background:#2D3864;
        width: 300px;
        position: relative;
        margin-left: -301px;
        &.show{
            margin-left: 0;
        }
        >span{
            z-index: 3;
            background:#2D3864;
            position: absolute;
            width: 90px;
            height: 60px;
            display: flex;
            position: absolute;
            left: 100%;
            top: 30px;
            margin-left: -40px;
            border-radius: 0 30px 30px 0;
            justify-content: flex-end;
            align-items: center;
            cursor: pointer;
            i{
                pointer-events: none;
                font-size: 30px;
                color: #FFF;
                margin-right: 10px;
                transform: rotate(-180deg);
            }
        }
        ul{
            padding: 0px 0;
            height: 100%;
            overflow-y: auto;
            li{
                color: #fff;
                padding: 15px 15px;
                cursor: pointer;
                &:hover{
                    background: rgba(0,0,0,.2);
                }
                i{
                    font-size: 25px;
                    margin-right: 5px;
                }
                span{
                    display: block;
                    line-height: 18px;
                    font-family: N-R;
                    font-size: 14px;
                }
            }
        }
    }
    .seleccioneRep{
        text-align: center;
        display: block;
        width: 100%;
        i{
            font-size: 40px;
        }
        p{
            margin-bottom: 0;
            font-family: N-R;
            font-size: 20px;
        }
    }
    .wrapFilter{
        padding: 40px;
        height: calc(100vh - 60px) !important;
        overflow: auto;
        .filters{
            background: #FFFFFF;
            border-radius: 5px;
            box-shadow: 0 0 20px rgba(#D1E0FF,.16);
            padding: 0 30px;
            h2{
                font-size: 25px;
                font-family: T-SB;
                color: $c-texto1;
                line-height: 25px;
                margin: 30px 0;
            }
            .selectReact{
                width: 100%;
                border-color: none !important;
                div[class*="-NoOptionsMessage"],
                div[class*="-placeholder"]{
                    font-family: N-R;
                    font-size: 14px;
                }
                div[class*="-option"]{
                    font-family: N-SB;
                    font-size: 14px;
                    color: $c-texto2
                }
                div[class*="-control"],
                div[class*="-control"]:hover{
                    input,
                    div[class*="-multiValue"],
                    div[class*="-singleValue"]{
                        color:$c-texto1;
                        font-family: N-SB;
                        font-size: 14px;
                    }
                    border:solid 1px #DCE0F0 !important;
                    outline: none !important;
                    box-shadow: none !important;
                    
                    div[class*="-ValueContainer"]{
                        max-height: 36px;
                        overflow: auto;
                        &::-webkit-scrollbar{
                            display: none;
                        }
                    }
                }
            }
            .rwInput{
                margin-bottom: 40px;
                label{
                    font-family: N-R;
                    font-size: 14px;
                    color: $c-texto2;
                    display: block;
                    width: 100%;
                }
            }
            .react-datepicker-wrapper{
                width: 100%;
            }
            input.datePicker{
                color:$c-texto1;
                font-family: N-SB;
                font-size: 14px;
                border:solid 1px #DCE0F0 !important;
                outline: none !important;
                border-radius: 4px;
                height: 40px;
                line-height: 38px;
                width: 100%;
                display: block;
                padding: 0 15px;
            }
        }
        .container-selected-report{
            background: #FFFFFF;
            border-radius: 5px;
            box-shadow: 0 0 20px rgba(#D1E0FF,.16);
            padding: 30px;
            margin-top: 40px;
        }
    }

}


//override Bootstrap
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow:none;
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #00D6CE;
    border-color: #ADB3CC;
    background-color: #FFFFFF;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: none;
    background: #00D6CE;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -1.2rem;
}
//override Bootstrap
@import './responsive.scss';