@media (min-width:1441px){
    .logo-menu-m{display: none !important;}
    .logo-menu-g{display: block !important;}
}
@media (max-width: 1440px) {
    .logo-menu-g{display: none !important;}
    .logo-menu-m{
        display: block !important;
        max-width: 30px !important;
        margin-left: auto;
        margin-right: auto;
    }
    .layoutMenuLeft{
        padding-left: 60px;
        .wrapMenuLeft {
            width: 60px;
            #menuL {
                figure{
                    padding:0 10px;
                }
                a.itemMenu {
                    p{
                        span{
                            display: none;
                        }
                    }
                }
            }
        }
        #headerInterno{
            padding-left: 60px;
        }
    }
}