$bg-fondo:#FAFBFD;
$bg-ppal:#17224D;

$c-texto1:#17224D;
$c-texto2:#7883B1;
$c-texto3:#e7f0fc;


$c-texto4:#4F86CB;
$c-textoI:#A8CFFF;

$placeHolder:#8FA0B5;

$bg-btn-1:#00D6CE;
$bg-btn-2:#007FFF;
$c-btn-gen:#ffffff;