﻿
@{
  Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<div id="panelPagoServicios" class="w-100 h-100">
  <!-- <div id="panelIzquierdo">
    <partial name="_GestionPago" />
  </div>
  <div id="panelDerecho">
    <partial name="_CarritoPago" />
  </div> -->
</div>

@section scripts {
  <script type="text/javascript" src="~/dist/pagoServicios.bundle.js" asp-append-version="true"></script>
}
