
@{
  Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<!-- <link rel="stylesheet" href="node_modules/react-table/react-table.css"> -->
<!-- <link rel="stylesheet"
  href="~/node_modules/daterangepicker/daterangepicker.css"> -->

<div id="panelAfiliaciones" class="container-fluid"></div>

@section scripts {
  <script type="text/javascript" src="~/dist/afiliacion.bundle.js"
    asp-append-version="true"></script>
}